# Deep Learning Core
torch>=2.0.0
torchvision>=0.15.0
ultralytics>=8.0.0  # YOLOv8 & YOLO11 support

# Data Processing & Augmentation
opencv-python>=4.8.0
albumentations>=1.3.1
numpy>=1.24.0
matplotlib>=3.7.0
timm

# Deployment (Server)
fastapi>=0.100.0
uvicorn[standard]>=0.23.0
pydantic>=2.0.0
python-multipart>=0.0.6

# Testing & Monitoring
locust>=2.15.0      # Load Testing
tensorboard>=2.13.0 # Monitoring